<footer>
	<div class="center inner">
		<div class="footer_menu_soc_pay">
			<div class="footer_menu">
				<ul>
					<li>
						<a href="/howtobuy/"><span>Как купить</span></a>
					</li>
					<li>
						<a href="/payments/"><span>Способы оплаты</span></a>
					</li>
					<li>
						<a href="/delivery/"><span>Способы доставки</span></a>
					</li>
					<li>
						<a href="/credit/"><span>Кредит</span></a>
					</li>
					<li>
						<a href="/warranty/"><span>Гарантия</span></a>
					</li>
					<li>
						<a href="/returns/"><span>Возврат и обмен</span></a>
					</li>
					<li>
						<a href="/faq/"><span>Вопросы и ответы</span></a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/catalog/"><span>Каталог продукции</span></a>
					</li>
					<li>
						<a href="/catalog/elektroinstrumenty/"><span>Электроинструменты</span></a>
					</li>
					<li>
						<a href="/catalog/sadovaya_tekhnika/"><span>Садовая техника</span></a>
					</li>
					<li>
						<a href="/catalog/klimaticheskaya_tekhnika/"><span>Климатическая техника</span></a>
					</li>
					<li>
						<a href="/catalog/ruchnoy_instrument/"><span>Ручной инструмент</span></a>
					</li>
					<li>
						<a href="/catalog/stroitelnaya_tekhnika/"><span>Строительная техника</span></a>
					</li>
					<li>
						<a href="/catalog/stroitelnye_materialy/"><span>Строительные материалы</span></a>
					</li>
					<li>
						<a href="/catalog/elektrotekhnika/"><span>Электротехника</span></a>
					</li>
					<li>
						<a href="/catalog/stanki/"><span>Станки</span></a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="javascript:void(0)"><span>Пресс-центр</span></a>
					</li>
					<li>
						<a href="/promotions/"><span>Акции и скидки</span></a>
					</li>
					<li>
						<a href="/news/"><span>Новости</span></a>
					</li>
					<li>
						<a href="/reviews/"><span>Обзоры и советы</span></a>
					</li>
					<li>
						<a href="javascript:void(0)"><span>Фотогалерея</span></a>
					</li>
					<li>
						<a href="javascript:void(0)"><span>Видеогалерея</span></a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/about/"><span>О Компании</span></a>
					</li>
					<li>
						<a href="/about/history/"><span>История компании</span></a>
					</li>
					<li>
						<a href="/about/certificates/"><span>Сертификаты</span></a>
					</li>
					<li>
						<a href="/about/awards/"><span>Награды и достижения</span></a>
					</li>
					<li>
						<a href="/about/partners/"><span>Наши партнеры</span></a>
					</li>
					<li>
						<a href="/about/responses/"><span>Отзывы о компании</span></a>
					</li>
					<li>
						<a href="/about/employees/"><span>Наши сотрудники</span></a>
					</li>
					<li>
						<a href="/about/vacancies/"><span>Вакансии</span></a>
					</li>
					<li>
						<a href="/about/details/"><span>Реквизиты</span></a>
					</li>
					<li>
						<a href="/about/agreement/"><span>Политика компании в отношении обработки персональных
								данных</span></a>
					</li>
				</ul>
			</div>
			<div class="footer_soc_pay">
				<div class="footer_soc">

					<div class="h3">Присоединяйтесь</div>
					<ul>
						<li style="background:#4d739c">
							<a target="_blank" href="https://vk.com/altop" title="ВКонтакте" rel="nofollow">

								<i class="fa fa-vk"></i>
							</a>
						</li>
						<li style="background:#3b5998">
							<a target="_blank" href="https://www.facebook.com/altop.media/" title="Facebook"
								rel="nofollow">

								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li style="background:#ff6800">
							<a href="javascript:void(0)" title="Odnoklassniki">

								<i class="fa fa-odnoklassniki"></i>
							</a>
						</li>
						<li style="background:#00aced">
							<a target="_blank" href="https://twitter.com/altop_media" title="Twitter" rel="nofollow">

								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li style="background:#575b71">
							<a target="_blank" href="https://www.youtube.com/c/altopmedia" title="Youtube"
								rel="nofollow">

								<i class="fa fa-youtube"></i>
							</a>
						</li>
						<li style="background:#c53b29">
							<a href="javascript:void(0)" title="Google-plus">

								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li style="background:#855a51">
							<a target="_blank" href="https://www.instagram.com/altop_media/" title="Instagram"
								rel="nofollow">

								<i class="fa fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer_pay">

					<div class="payment_methods">
						<div class="h3">Способы оплаты</div>
						<ul>
							<li>
								<a href="javascript:void(0)" title="VISA">
									<img src="/image/catalog/payments/059cab1fb81a59f3d1a6879cea1b078c.png" width="66"
										height="30" alt="VISA">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="MasterCard">
									<img src="/image/catalog/payments/80c95d6bc2fc2ca9ee528dd754b5586c.png" width="66"
										height="30" alt="MasterCard">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="WebMoney">
									<img src="/image/catalog/payments/a8556ed007062b1cb92d33ae60209205.png" width="66"
										height="30" alt="WebMoney">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="Яндекс.Деньги">
									<img src="/image/catalog/payments/0bcfec7e41ded87e93b95fc5c178df1b.png" width="66"
										height="30" alt="Яндекс.Деньги">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="QIWI">
									<img src="/image/catalog/payments/f5e41dd842e2ff04eaf4db298c306082.png" width="66"
										height="30" alt="QIWI">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="Альфа-Клик">
									<img src="/image/catalog/payments/f77d08584afda205e8356fd158d78e5e.png" width="66"
										height="30" alt="Альфа-Клик">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="Сбербанк">
									<img src="/image/catalog/payments/a81152cc72c75c3beb444369c0a5e3bf.png" width="66"
										height="30" alt="Сбербанк">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="Наличный расчет">
									<img src="/image/catalog/payments/6cb2948c4aa7d67013cfd4e29a66c892.png" width="66"
										height="30" alt="Наличный расчет">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" title="Безналичный расчет">
									<img src="/image/catalog/payments/c9a7b9b278caefa3a419f8114b99b007.png" width="66"
										height="30" alt="Безналичный расчет">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-bottom__blocks">
				<div class="footer-bottom__block-wrap fb-left">
					<div class="footer-bottom__block footer-bottom__copyright">
						© Интернет-магазин ATVDOC, 2020<br>
						Подбор по каталогу, продажа запасных частей и аксессуаров для квадроциклов,
						<br>
						снегоходов, мотоциклов и гидроциклов.
						<br>
						Россия, г.Брянск проспект Станке Димитрова, 40
					</div>
					<div class="footer-bottom__block footer-bottom__links">

						<ul>
							<li>
								<a href="/contacts/"><span>Контакты</span></a>
							</li>
							<li>
								<a href="/map/"><span>Карта сайта</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom__blocks">
				<div class="footer-bottom__block-wrap fb-right">
					<div class="footer-bottom__block footer-bottom__counter">
						<span>Место для счетчика</span> </div>
					<div class="footer-bottom__block footer-bottom__counter">
						<span>Место для счетчика</span> </div>
					<div class="footer-bottom__block footer-bottom__design">
					</div>
				</div>
			</div>
		</div>

	</div>
</footer>


</div>
</div>
</div>














{#
<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>

#}



<script src="catalog/view/javascript/moremenu.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/main.js" type="text/javascript"></script>


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>

</html>