<footer>
				<div class="center inner">
					<div class="footer_menu_soc_pay">
						<div class="footer_menu">
							
<ul>
			<li>
			<a href="/howtobuy/"><span>Как купить</span></a>
		</li>
			<li>
			<a href="/payments/"><span>Способы оплаты</span></a>
		</li>
			<li>
			<a href="/delivery/"><span>Способы доставки</span></a>
		</li>
			<li>
			<a href="/credit/"><span>Кредит</span></a>
		</li>
			<li>
			<a href="/warranty/"><span>Гарантия</span></a>
		</li>
			<li>
			<a href="/returns/"><span>Возврат и обмен</span></a>
		</li>
			<li>
			<a href="/faq/"><span>Вопросы и ответы</span></a>
		</li>
	</ul>							
<ul>
			<li>
			<a href="/catalog/"><span>Каталог продукции</span></a>
		</li>
			<li>
			<a href="/catalog/elektroinstrumenty/"><span>Электроинструменты</span></a>
		</li>
			<li>
			<a href="/catalog/sadovaya_tekhnika/"><span>Садовая техника</span></a>
		</li>
			<li>
			<a href="/catalog/klimaticheskaya_tekhnika/"><span>Климатическая техника</span></a>
		</li>
			<li>
			<a href="/catalog/ruchnoy_instrument/"><span>Ручной инструмент</span></a>
		</li>
			<li>
			<a href="/catalog/stroitelnaya_tekhnika/"><span>Строительная техника</span></a>
		</li>
			<li>
			<a href="/catalog/stroitelnye_materialy/"><span>Строительные материалы</span></a>
		</li>
			<li>
			<a href="/catalog/elektrotekhnika/"><span>Электротехника</span></a>
		</li>
			<li>
			<a href="/catalog/stanki/"><span>Станки</span></a>
		</li>
	</ul>							
<ul>
			<li>
			<a href="javascript:void(0)"><span>Пресс-центр</span></a>
		</li>
			<li>
			<a href="/promotions/"><span>Акции и скидки</span></a>
		</li>
			<li>
			<a href="/news/"><span>Новости</span></a>
		</li>
			<li>
			<a href="/reviews/"><span>Обзоры и советы</span></a>
		</li>
			<li>
			<a href="javascript:void(0)"><span>Фотогалерея</span></a>
		</li>
			<li>
			<a href="javascript:void(0)"><span>Видеогалерея</span></a>
		</li>
	</ul>							
<ul>
			<li>
			<a href="/about/"><span>О Компании</span></a>
		</li>
			<li>
			<a href="/about/history/"><span>История компании</span></a>
		</li>
			<li>
			<a href="/about/certificates/"><span>Сертификаты</span></a>
		</li>
			<li>
			<a href="/about/awards/"><span>Награды и достижения</span></a>
		</li>
			<li>
			<a href="/about/partners/"><span>Наши партнеры</span></a>
		</li>
			<li>
			<a href="/about/responses/"><span>Отзывы о компании</span></a>
		</li>
			<li>
			<a href="/about/employees/"><span>Наши сотрудники</span></a>
		</li>
			<li>
			<a href="/about/vacancies/"><span>Вакансии</span></a>
		</li>
			<li>
			<a href="/about/details/"><span>Реквизиты</span></a>
		</li>
			<li>
			<a href="/about/agreement/"><span>Политика компании в отношении обработки персональных данных</span></a>
		</li>
	</ul>						</div>
						<div class="footer_soc_pay">							
							<div class="footer_soc">
								
<div class="h3">Присоединяйтесь</div>
<ul>
			<li style="background:#4d739c">
							<a target="_blank" href="https://vk.com/altop" title="ВКонтакте" rel="nofollow">
						
				<i class="fa fa-vk"></i>
			</a>
		</li>
			<li style="background:#3b5998">
							<a target="_blank" href="https://www.facebook.com/altop.media/" title="Facebook" rel="nofollow">
						
				<i class="fa fa-facebook"></i>
			</a>
		</li>
			<li style="background:#ff6800">
							<a href="javascript:void(0)" title="Odnoklassniki">
						
				<i class="fa fa-odnoklassniki"></i>
			</a>
		</li>
			<li style="background:#00aced">
							<a target="_blank" href="https://twitter.com/altop_media" title="Twitter" rel="nofollow">
						
				<i class="fa fa-twitter"></i>
			</a>
		</li>
			<li style="background:#575b71">
							<a target="_blank" href="https://www.youtube.com/c/altopmedia" title="Youtube" rel="nofollow">
						
				<i class="fa fa-youtube"></i>
			</a>
		</li>
			<li style="background:#c53b29">
							<a href="javascript:void(0)" title="Google-plus">
						
				<i class="fa fa-google-plus"></i>
			</a>
		</li>
			<li style="background:#855a51">
							<a target="_blank" href="https://www.instagram.com/altop_media/" title="Instagram" rel="nofollow">
						
				<i class="fa fa-instagram"></i>
			</a>
		</li>
	</ul>							</div>
							<div class="footer_pay">
																
<div class="payment_methods">
	<div class="h3">Способы оплаты</div>
	<ul>
					<li>
									<a href="javascript:void(0)" title="VISA">
									<img src="/upload/iblock/059/059cab1fb81a59f3d1a6879cea1b078c.png" width="66" height="30" alt="VISA">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="MasterCard">
									<img src="/upload/iblock/80c/80c95d6bc2fc2ca9ee528dd754b5586c.png" width="66" height="30" alt="MasterCard">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="WebMoney">
									<img src="/upload/iblock/a85/a8556ed007062b1cb92d33ae60209205.png" width="66" height="30" alt="WebMoney">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="Яндекс.Деньги">
									<img src="/upload/iblock/0bc/0bcfec7e41ded87e93b95fc5c178df1b.png" width="66" height="30" alt="Яндекс.Деньги">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="QIWI">
									<img src="/upload/iblock/f5e/f5e41dd842e2ff04eaf4db298c306082.png" width="66" height="30" alt="QIWI">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="Альфа-Клик">
									<img src="/upload/iblock/f77/f77d08584afda205e8356fd158d78e5e.png" width="66" height="30" alt="Альфа-Клик">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="Сбербанк">
									<img src="/upload/iblock/a81/a81152cc72c75c3beb444369c0a5e3bf.png" width="66" height="30" alt="Сбербанк">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="Наличный расчет">
									<img src="/upload/iblock/6cb/6cb2948c4aa7d67013cfd4e29a66c892.png" width="66" height="30" alt="Наличный расчет">
				</a>
			</li>
					<li>
									<a href="javascript:void(0)" title="Безналичный расчет">
									<img src="/upload/iblock/c9a/c9a7b9b278caefa3a419f8114b99b007.png" width="66" height="30" alt="Безналичный расчет">
				</a>
			</li>
			</ul>
</div>							</div>
						</div>
					</div>
					<div class="footer-bottom">						
						<div class="footer-bottom__blocks">
							<div class="footer-bottom__block-wrap fb-left">
								<div class="footer-bottom__block footer-bottom__copyright">
									© Интернет-магазин ЭЛЕКТРОСИЛА, 2020 <br>Россия, Москва, ул. Центральная 1, оф. 202								</div>
								<div class="footer-bottom__block footer-bottom__links">
									
<ul>
			<li>
			<a href="/contacts/"><span>Контакты</span></a>
		</li>
			<li>
			<a href="/map/"><span>Карта сайта</span></a>
		</li>
	</ul>								</div>
							</div>
						</div>
						<div class="footer-bottom__blocks">							
							<div class="footer-bottom__block-wrap fb-right">
								<div class="footer-bottom__block footer-bottom__counter">
									<span>Место для счетчика</span>								</div>
								<div class="footer-bottom__block footer-bottom__counter">
									<span>Место для счетчика</span>								</div>
																	<div class="footer-bottom__block footer-bottom__design">
																			</div>
															</div>
						</div>						
					</div>
					
				</div>
			</footer>
			
			
</div>
</div>
</div>
			













{#
<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>

#}


<!--Панель сверху-->
<div class=" clvt">
	<div class="foot_panel_all">
						<div id="for-quick-view-footer" class="foot_panel">
							<div class="foot_panel_1">
								
<div class="kabinet" id="kabinet">
	<!--'start_frame_cache_kabinet'-->		
	<script type="text/javascript">
			$(function() {
				$('.login_anch').click(function(e){
					e.preventDefault();
					$('.login_body').css({'display':'block'});
					$('.login').css({'display':'block'});
				});
				$('.login_close, .login_body').click(function(e){
					e.preventDefault();
					$('.login_body').css({'display':'none'});
					$('.login').css({'display':'none'});
				});
			});
		</script>
					<a class="login_anch" href="javascript:void(0)" title="Войти"><i class="fa fa-user"></i><span>Войти</span></a>
			<div class="pop-up-bg login_body popup-window-overlay" style="display: none; position: absolute; z-index: 1099; opacity: 1"></div>
			<div class="pop-up login" style="display: none; position: absolute; z-index: 1100;">
				<a href="javascript:void(0)" class="login_close popup-window-close-icon" style="top: -10px; right: -10px;"><i class="fa fa-times"></i></a>
				<div class="login-form" id="loginForm">
					<div class="fields">
						<form name="form_auth" method="post" target="_top" action="/personal/private/">
							<input type="hidden" name="AUTH_FORM" value="Y">
							<input type="hidden" name="TYPE" value="AUTH">
															<input type="hidden" name="backurl" value="/">
																					<div class="field">
								<input type="text" name="USER_LOGIN" maxlength="50" placeholder="Логин" value="" class="input-field">
							</div>	
							<div class="field">
								<input type="password" name="USER_PASSWORD" maxlength="50" placeholder="Пароль" value="" class="input-field">
							</div>
							<div class="field field-button">
								<button type="submit" name="Login" class="btn_buy popdef" value="Войти">Войти</button>
							</div>
							<div class="field">
								<a class="btn_buy apuo forgot" href="/personal/private/?forgot_password=yes" rel="nofollow">Напомнить пароль</a>
							</div>
							<div class="field" style="margin:0px;">
								<a class="btn_buy apuo reg" href="/personal/private/?register=yes" rel="nofollow">Регистрация</a>
							</div>
						</form>
						<script type="text/javascript">
								/*
								try {
									document.form_auth.USER_LOGIN.focus();
								} catch(e) {}
								*/
													</script>
					</div>
											<p class="login_as">Войти как пользователь:</p>
						
<div class="bx-auth-serv-icons">
			<a title="Livejournal" href="javascript:void(0)" onclick="BxShowAuthFloatNew('Livejournal', 'form')"><i class="bx-ss-icon livejournal"></i></a>
			<a title="Mail.Ru" href="javascript:void(0)" onclick="BxShowAuthFloatNew('MailRuOpenID', 'form')"><i class="bx-ss-icon openid-mail-ru"></i></a>
			<a title="Liveinternet" href="javascript:void(0)" onclick="BxShowAuthFloatNew('Liveinternet', 'form')"><i class="bx-ss-icon liveinternet"></i></a>
			<a title="Blogger" href="javascript:void(0)" onclick="BxShowAuthFloatNew('Blogger', 'form')"><i class="bx-ss-icon blogger"></i></a>
			<a title="OpenID" href="javascript:void(0)" onclick="BxShowAuthFloatNew('OpenID', 'form')"><i class="bx-ss-icon openid"></i></a>
	</div>						
	<div style="display:none">
		<div id="bx_auth_float" class="bx-auth-float">



<div class="bx-auth">
	<form method="post" name="bx_auth_servicesform" target="_top" action="/?login=yes">
					<div class="bx-auth-title">Войти как пользователь</div>
			<div class="bx-auth-note">Вы можете войти на сайт, если вы зарегистрированы на одном из этих сервисов:</div>
							<div class="bx-auth-services">
									<div><a href="javascript:void(0)" onclick="BxShowAuthService('Livejournal', 'form')" id="bx_auth_href_formLivejournal"><i class="bx-ss-icon livejournal"></i><b>Livejournal</b></a></div>
									<div><a href="javascript:void(0)" onclick="BxShowAuthService('MailRuOpenID', 'form')" id="bx_auth_href_formMailRuOpenID"><i class="bx-ss-icon openid-mail-ru"></i><b>Mail.Ru</b></a></div>
									<div><a href="javascript:void(0)" onclick="BxShowAuthService('Liveinternet', 'form')" id="bx_auth_href_formLiveinternet"><i class="bx-ss-icon liveinternet"></i><b>Liveinternet</b></a></div>
									<div><a href="javascript:void(0)" onclick="BxShowAuthService('Blogger', 'form')" id="bx_auth_href_formBlogger"><i class="bx-ss-icon blogger"></i><b>Blogger</b></a></div>
									<div><a href="javascript:void(0)" onclick="BxShowAuthService('OpenID', 'form')" id="bx_auth_href_formOpenID"><i class="bx-ss-icon openid"></i><b>OpenID</b></a></div>
							</div>
							<div class="bx-auth-line"></div>
				<div class="bx-auth-service-form" id="bx_auth_servform" style="display:none">
												<div id="bx_auth_serv_formLivejournal" style="display:none">
<span class="bx-ss-icon livejournal"></span>
<input type="text" name="OPENID_IDENTITY_LIVEJOURNAL" value="" size="20">
<span>.livejournal.com</span>
<input type="hidden" name="sessid" id="sessid_1" value="b8b79193864f9ce17708227a7e7a22d2">
<input type="hidden" name="auth_service_error" value="">
<input type="submit" class="button" name="" value="Войти">
</div>
																<div id="bx_auth_serv_formMailRuOpenID" style="display:none">
<span class="bx-ss-icon openid-mail-ru"></span>
<input type="text" name="OPENID_IDENTITY_MAILRU" value="" size="20">
<span>@mail.ru</span>
<input type="hidden" name="sessid" id="sessid_2" value="b8b79193864f9ce17708227a7e7a22d2">
<input type="hidden" name="auth_service_error" value="">
<input type="submit" class="button" name="" value="Войти">
</div>
																<div id="bx_auth_serv_formLiveinternet" style="display:none">
<span class="bx-ss-icon liveinternet"></span>
<span>liveinternet.ru/users/</span>
<input type="text" name="OPENID_IDENTITY_LIVEINTERNET" value="" size="15">
<input type="hidden" name="sessid" id="sessid_3" value="b8b79193864f9ce17708227a7e7a22d2">
<input type="hidden" name="auth_service_error" value="">
<input type="submit" class="button" name="" value="Войти">
</div>
																<div id="bx_auth_serv_formBlogger" style="display:none">
<span class="bx-ss-icon blogger"></span>
<input type="text" name="OPENID_IDENTITY_BLOGGER" value="" size="20">
<span>.blogspot.com</span>
<input type="hidden" name="sessid" id="sessid_4" value="b8b79193864f9ce17708227a7e7a22d2">
<input type="hidden" name="auth_service_error" value="">
<input type="submit" class="button" name="" value="Войти">
</div>
																<div id="bx_auth_serv_formOpenID" style="display:none">
<span class="bx-ss-icon openid"></span>
<span>OpenID:</span>
<input type="text" name="OPENID_IDENTITY_OPENID" value="" size="30">
<input type="hidden" name="sessid" id="sessid_5" value="b8b79193864f9ce17708227a7e7a22d2">
<input type="hidden" name="auth_service_error" value="">
<input type="submit" class="button" name="" value="Войти">
</div>
									</div>
				<input type="hidden" name="auth_service_id" value="">
	</form>
</div>

		</div>
	</div>
										
				</div>
			</div>
			<a class="register" href="/personal/private/?register=yes" title="Регистрация" rel="nofollow"><i class="fa fa-user-plus"></i><span>Регистрация</span></a>
		<!--'end_frame_cache_kabinet'--></div>								
<div class="compare_line">
	<!--'start_frame_cache_compare'-->		<a href="/catalog/compare/" title="Сравнение" rel="nofollow">
			<i class="fa fa-bar-chart"></i>
			<span class="text">Сравнение</span>
			<span class="qnt_cont">
				<span class="qnt">0</span>
			</span>
		</a>
	<!--'end_frame_cache_compare'--></div>								
<div class="delay_line">
	<!--'start_frame_cache_delay'-->		<a href="/personal/cart/?delay=Y" title="Отложенные" rel="nofollow">
			<i class="fa fa-heart"></i>
			<span class="text">Отложенные</span>
			<span class="qnt_cont">
				<span class="qnt">
					0				</span>
			</span>
		</a>
	<!--'end_frame_cache_delay'--></div>							</div>
							<div class="foot_panel_2">
								


<div class="cart_line" id="cart_line1">
	<!--'start_frame_cache_cart_line'-->


<a href="/personal/cart/" class="cart" title="Моя корзина" rel="nofollow">
	<i class="fa fa-shopping-cart"></i>
	<span class="text">Моя корзина</span>
	<span class="qnt_cont">
		<span class="qnt">0</span>
	</span>	
</a>				
<span class="sum_cont">
	<span class="sum" data-sum="0" data-separator=" " data-decimal="0" data-dec-point=".">
		<span id="cartCounter">0</span>
		<span class="curr"> руб.</span>
	</span>
</span>
<div class="oformit_cont">
			<div class="btn_buy oformit dsbl">Оформить</div>
	</div><!--'end_frame_cache_cart_line'-->
	</div>

								
							</div>
						</div>
					</div>
					</div>
					
					
<!-- -------------Панель сверху-->
<script src="catalog/view/javascript/moremenu.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/main.js" type="text/javascript"></script>


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>