<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<!--
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
-->


<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />

<!-- Новое -->
<link href="catalog/view/theme/atvdoc/stylesheet/styles.css" rel="stylesheet" media="screen" />
<link href="/catalog/view/javascript/magnific-popup/magnific-popup.css" rel="stylesheet"type="text/css" />

<script src="/catalog/view/javascript/jquery.easing.1.2.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/jquery.anythingslider.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/magnific-popup/jquery.magnific-popup.min.js" type="text/javascript"></script>

<!-- ----Новое -->
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>


<body class="bg-position bg-repeat-x bg-repeat-y bg-fixed" style="background-image: url('/image/img/backgrount.jpg')">
		
	<div class="bx-panel clvt">
			</div>
	<div class="bx-include-empty">
			</div>
	<div class="body clvt">
		<div class="page-wrapper">
				<div id="for-quick-view-header" class="center outer">


<header>
				<div class="center inner">
					<div class="header_1">
						<div class="logo" id = "logo">
						          {% if logo %}
									{% if home == og_url %}
									  <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
									{% else %}
									  <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
									{% endif %} 
								  {% else %}
									<h1><a href="{{ home }}">{{ name }}</a></h1>
								  {% endif %}
						
							
						</div>
					</div>
					<div class="header_2">
						<div id="altop_search" class="form-box">
							
							
							<form action="/catalog/">
								<i class="fa fa-search"></i>
								<input type="text" name="q" id="title-search-input" class="" maxlength="50" autocomplete="off" placeholder="Поиск по товарам, брендам, категориям" value="">
								<input type="submit" name="submit" class="" value="Найти">
							</form>
							
							
						</div>

						
					</div>
					<div class="header_3">
						<div class="schedule">
							<p class="time"><i class="fa fa-clock-o"></i><span>Время работы:</span></p>
							<p>ПН-ПТ 09:00 - 18:00 (MSK)<br>СБ 10:00 - 14:00 (MSK)<br>Воскресенье - выходной</p>	
							<p>shop@atvdoc.ru</p>
						</div>
					</div>
					<div class="header_4">
						<div class="contacts">

	<div class="telephone">
		
	<p><span class="icon mts"></span><span>+7 (910)</span> 111-22-33</p>
	<p><span class="icon megafon"></span><span>+7 (920)</span> 444-55-66</p>
<!--	<p><span class="icon beeline"></span><span>+7 (906)</span> 000-00-00</p>
-->
	<p><span class="icon tele2"></span><span>+7 (953)</span> 292-10-30</p></div>

<!--'end_frame_cache_geolocation'-->							
<a id="callbackAnch" class="btn_buy apuo callback_anch" href="javascript:void(0)">
	<span class="cont"><i class="fa fa-phone"></i><span class="text">Заказать звонок</span></span>
</a>
						</div>
					</div>
				</div>
</header>
			
			
			
<div class="top-menu">
	<div class="center inner">
						

<div class="store-horizontal-wrap">
	<!-- Главное меню-->
	<ul class="store-horizontal" >
		<li class="active"><a href="/">Главная</a></li>
		<li>
			<a href="/catalog/">Каталог</a>
		</li>
						<li>
			<a href="/manufacturiers/">Производители</a>
		</li>
						<li>
			<a href="/promotions/">Акции и скидки</a>
		</li>
						<li>
			<a href="/news/">Новости</a>
		</li>
						<li>
			<a href="/reviews/">Доставка и оплата</a>
		</li>
		<li>
			<a href="/contacts/">Контактная информация</a>
		</li>							
		<li>
			<a href="/warranty/">Гарантия</a>
		</li>
											

	
	</ul>
	<!-- --Главное меню-->			
</div>

<script type="text/javascript">
/*	//<![CDATA[
	$(function() {
		//MOREMENU//
		$(".top-menu ul.store-horizontal").moreMenu();

		//DROPDOWN//	
		$(".top-menu ul.store-horizontal .dropdown:not(.more)").on({		
			mouseenter: function() {
				var menu = $(this).closest(".store-horizontal"),
					menuWidth = menu.outerWidth(),
					menuLeft = menu.offset().left,
					menuRight = menuLeft + menuWidth,
					isParentDropdownMenu = $(this).closest(".dropdown-menu"),					
					dropdownMenu = $(this).children(".dropdown-menu"),
					dropdownMenuWidth = dropdownMenu.outerWidth(),					
					dropdownMenuLeft = isParentDropdownMenu.length > 0 ? $(this).offset().left + $(this).outerWidth() : $(this).offset().left,
					dropdownMenuRight = dropdownMenuLeft + dropdownMenuWidth;
				if(dropdownMenuRight > menuRight) {
					if(isParentDropdownMenu.length > 0) {
						dropdownMenu.css({"left": "auto", "right": "100%"});
					} else {
						dropdownMenu.css({"right": "0"});
					}
				}
				$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeIn(150);
			},
			mouseleave: function() {
				$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeOut(150);
			}
		});
	});
	//]]>

*/	
</script>			

</div>
</div>
			


<div class="top_panel">
	<div class="center inner">
		<div class="panel_1">
	
<!-- Мобильное меню (каталог)-->

<!-- СДЕЛАТЬ ПОТОМ вывод только в мобильной версии-->
<ul class="section-vertical">
	<li>
		<a href="javascript:void(0)" class="showsection"><i class="fa fa-bars"></i><span>Каталог</span></a>
		<div class="catalog-section-list" style="display:none;">

				{% for category in categories %}
				<div class="catalog-section">
					<div class="catalog-section-title">
						<a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a>
						<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i
								class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i>
						</span>
					</div>
				
					{% if category.children %}
					<div class="catalog-section-childs" style="display:none;">
						{% for child in category.children %}
						<div class="catalog-section-child">
							{% if child.category_id == child_id %}
								<a href="{{ child.href }}" title="{{ child.name }}">
									<span class="child">
										<span class="graph">
											<i class="ef ef-engraver" aria-hidden="true"></i>
										</span>
										<span class="text-cont">
											<span class="text">{{ child.name }}</span>
										</span>
									</span>
									
								</a>
							{% else %}
								<a href="{{ child.href }}" title="{{ child.name }}">
									<span class="child">
										<span class="graph">
											<i class="ef ef-engraver" aria-hidden="true"></i>
										</span>
										<span class="text-cont">
											<span class="text">{{ child.name }}</span>
										</span>
									</span>
									
								</a>
							{% endif %}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				 {# if category.category_id == category_id %} 111 {% else %} 
					<a href="{{ category.href }}" class="list-group-item">{{ category.name }}++</a>
				  {% endif #}
			  
				  
				{% endfor %}
			  
{#			
			<div class="catalog-section">
				<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
					<a href="/catalog/elektroinstrumenty/">Электроинструменты</a>
					<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i
							class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
				</div>
				<div class="catalog-section-childs" style="display:none;">
					<div class="catalog-section-child">
						<a href="/catalog/gravery/" title="Граверы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-engraver" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Граверы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/dreli/" title="Дрели">
							<span class="child">
								<span class="graph">
									<i class="ef ef-drill" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Дрели</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/kraskopulty/" title="Краскопульты">
							<span class="child">
								<span class="graph">
									<i class="ef ef-airbrush" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Краскопульты</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/lobzikovye-pily/" title="Лобзиковые пилы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-electric-jig-saw" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Лобзиковые пилы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/miksery/" title="Миксеры">
							<span class="child">
								<span class="graph">
									<i class="ef ef-electric-construction-mixer" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Миксеры</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/nozhovki-i-stoljarnye-nozhovki/" title="Ножовки и столярные ножовки">
							<span class="child">
								<span class="graph">
									<i class="ef ef-electric-hacksaw" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Ножовки и столярные ножовки</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/otboynye-molotki/" title="Отбойные молотки">
							<span class="child">
								<span class="graph">
									<i class="ef ef-jackhammer" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Отбойные молотки</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/perforatory/" title="Перфораторы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-perforator" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Перфораторы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/polirovalnye-mashiny/" title="Полировальные машины">
							<span class="child">
								<span class="graph">
									<i class="ef ef-polish-machine" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Полировальные машины</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/rubanki/" title="Рубанки">
							<span class="child">
								<span class="graph">
									<i class="ef ef-electric-planer" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Рубанки</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/ruchnye-diskovye-pily/" title="Ручные циркулярные пилы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-circular-saw" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Ручные циркулярные пилы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/shlifovalnye-mashiny/" title="Шлифовальные машины">
							<span class="child">
								<span class="graph">
									<i class="ef ef-angle-grinder" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Шлифовальные машины</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/elektronozhnitsy/" title="Электроножницы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-electric-scissors" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Электроножницы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/akkumuljatornyj-instrument/" title="Аккумуляторный инструмент">
							<span class="child">
								<span class="graph">
									<i class="ef ef-cordless-screwdriver" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Аккумуляторный инструмент</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/aksessuary/" title="Аксессуары">
							<span class="child">
								<span class="graph">
									<i class="ef ef-milling-disk" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Аксессуары</span>
								</span>
							</span>
						</a>
					</div>
					<div class="catalog-section-child">
						<a href="/catalog/shtroborezy/" title="Штроборезы">
							<span class="child">
								<span class="graph">
									<i class="ef ef-wall-chaser" aria-hidden="true"></i>
								</span>
								<span class="text-cont">
									<span class="text">Штроборезы</span>
								</span>
							</span>
						</a>
					</div>
					<div class="clr"></div>
				</div>
			</div>
#}

		</div>
	</li>
</ul>

<!-- --Мобильное меню -->


<script type="text/javascript">
	//<![CDATA[
	$(function() {
		$('.showsection').click(function() {
			var clickitem = $(this);
			if(clickitem.parent('li').hasClass('')) {
				clickitem.parent('li').addClass('active');
			} else {
				clickitem.parent('li').removeClass('active');
			}
			
			if($('.showsubmenu').parent('li').hasClass('active')) {
				$('.showsubmenu').parent('li').removeClass('active');
				$('.showsubmenu').parent('li').find('ul.submenu').css({'display':'none'});
			}
			
			if($('.showcontacts').parent('li').hasClass('active')) {
				$('.showcontacts').parent('li').removeClass('active');
				$('.header_4').css({'display':'none'});
			}
			
			if($('.showsearch').parent('li').hasClass('active')) {
				$('.showsearch').parent('li').removeClass('active');
				$('.header_2').css({'display':'none'});
				$('div.title-search-result').css({'display':'none'});
			}

			clickitem.parent('li').find('.catalog-section-list').slideToggle();
		});
		$('.showsectionchild').click(function() {
			var clickitem = $(this);
			if(clickitem.parent('div').hasClass('active')) {
				clickitem.parent('div').removeClass('active');
			} else {
				clickitem.parent('div').addClass('active');
			}
			clickitem.parent('div').parent('div').find('.catalog-section-childs').slideToggle();
		});
	});
	//]]>
</script>					</div>
<div class="panel_2">
	<!-- Мобильное меню (главное)-->
	<ul class="store-vertical">
		<li>
			<a href="javascript:void(0)" class="showsubmenu">Меню</a>
			<ul class="submenu" style="display:none;">
				<li class="active"><a href="/">Главная</a></li>
				<li>
					<a href="/catalog/">Каталог</a>
				</li>
								<li>
					<a href="/manufacturiers/">Производители</a>
				</li>
								<li>
					<a href="/promotions/">Акции и скидки</a>
				</li>
								<li>
					<a href="/news/">Новости</a>
				</li>
								<li>
					<a href="/reviews/">Доставка и оплата</a>
				</li>
				<li>
					<a href="/contacts/">Контактная информация</a>
				</li>							
				<li>
					<a href="/warranty/">Гарантия</a>
				</li>

			</ul>
		</li>
	</ul>
	<!-- --Мобильное меню (главное)-->
	<script type="text/javascript">
		//<![CDATA[
		$(function() {
			$('.showsubmenu').click(function() {
				var clickitem = $(this);
				if(clickitem.parent('li').hasClass('')) {
					clickitem.parent('li').addClass('active');
				} else {
					clickitem.parent('li').removeClass('active');
				}
				
				if($('.showsection').parent('li').hasClass('active')) {
					$('.showsection').parent('li').removeClass('active');
					$('.showsection').parent('li').find('.catalog-section-list').css({'display':'none'});
				}
				
				if($('.showcontacts').parent('li').hasClass('active')) {
					$('.showcontacts').parent('li').removeClass('active');
					$('.header_4').css({'display':'none'});
				}
				
				if($('.showsearch').parent('li').hasClass('active')) {
					$('.showsearch').parent('li').removeClass('active');
					$('.header_2').css({'display':'none'});
					$('div.title-search-result').css({'display':'none'});
				}

				clickitem.parent('li').find('ul.submenu').slideToggle();
			});
			
			var lis = $('.submenu').find('li');
			for(var i = 0; i < lis.length; i++) {
				if($(lis[i]).hasClass('item-selected')) {
					$(lis[i]).addClass('active');
					var ul = $(lis[i]).find('ul:first');
					$(ul).css({display: 'block'});
				}
			}
			
			$('.showchild').click(function() {
				var clickitem = $(this);
				if(clickitem.parent('span').parent('li').hasClass('active')) {
					clickitem.parent('span').parent('li').removeClass('active');
				} else {
					clickitem.parent('span').parent('li').addClass('active');
				}
				clickitem.parent('span').parent('li').find('ul:first').slideToggle();
			});
		});
		//]]>
	</script>
</div>



		<div class="panel_3">
			<ul class="contacts-vertical">
				<li>
					<a class="showcontacts" href="javascript:void(0)"><i class="fa fa-phone"></i></a>
				</li>
			</ul>
		</div>
		<div class="panel_4">
			<ul class="search-vertical">
				<li>
					<a class="showsearch" href="javascript:void(0)"><i class="fa fa-search"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>


<!--Панель сверху-->
<div class=" clvt">
	<div class="foot_panel_all">
		<div id="for-quick-view-footer" class="foot_panel">
			<div class="foot_panel_1">

				<div class="kabinet" id="kabinet">
					<!--'start_frame_cache_kabinet'-->
					<script type="text/javascript">
						$(function () {
							$('.login_anch').click(function (e) {
								e.preventDefault();
								$('.login_body').css({ 'display': 'block' });
								$('.login').css({ 'display': 'block' });
							});
							$('.login_close, .login_body').click(function (e) {
								e.preventDefault();
								$('.login_body').css({ 'display': 'none' });
								$('.login').css({ 'display': 'none' });
							});
						});
					</script>
					<a class="login_anch" href="javascript:void(0)" title="Войти"><i
							class="fa fa-user"></i><span>Войти</span></a>
					<div class="pop-up-bg login_body popup-window-overlay"
						style="display: none; position: absolute; z-index: 1099; opacity: 1"></div>
					<div class="pop-up login" style="display: none; position: absolute; z-index: 1100;">
						<a href="javascript:void(0)" class="login_close popup-window-close-icon"
							style="top: -10px; right: -10px;"><i class="fa fa-times"></i></a>
						<div class="login-form" id="loginForm">
							<div class="fields">
								<form name="form_auth" method="post" target="_top" action="/personal/private/">
									<input type="hidden" name="AUTH_FORM" value="Y">
									<input type="hidden" name="TYPE" value="AUTH">
									<input type="hidden" name="backurl" value="/">
									<div class="field">
										<input type="text" name="USER_LOGIN" maxlength="50" placeholder="Логин" value=""
											class="input-field">
									</div>
									<div class="field">
										<input type="password" name="USER_PASSWORD" maxlength="50" placeholder="Пароль"
											value="" class="input-field">
									</div>
									<div class="field field-button">
										<button type="submit" name="Login" class="btn_buy popdef"
											value="Войти">Войти</button>
									</div>
									<div class="field">
										<a class="btn_buy apuo forgot" href="/personal/private/?forgot_password=yes"
											rel="nofollow">Напомнить пароль</a>
									</div>
									<div class="field" style="margin:0px;">
										<a class="btn_buy apuo reg" href="/personal/private/?register=yes"
											rel="nofollow">Регистрация</a>
									</div>
								</form>
								<script type="text/javascript">
									/*
									try {
										document.form_auth.USER_LOGIN.focus();
									} catch(e) {}
									*/
								</script>
							</div>
							<p class="login_as">Войти как пользователь:</p>

							<div class="bx-auth-serv-icons">
								<a title="Livejournal" href="javascript:void(0)"
									onclick="BxShowAuthFloatNew('Livejournal', 'form')"><i
										class="bx-ss-icon livejournal"></i></a>
								<a title="Mail.Ru" href="javascript:void(0)"
									onclick="BxShowAuthFloatNew('MailRuOpenID', 'form')"><i
										class="bx-ss-icon openid-mail-ru"></i></a>
								<a title="Liveinternet" href="javascript:void(0)"
									onclick="BxShowAuthFloatNew('Liveinternet', 'form')"><i
										class="bx-ss-icon liveinternet"></i></a>
								<a title="Blogger" href="javascript:void(0)"
									onclick="BxShowAuthFloatNew('Blogger', 'form')"><i
										class="bx-ss-icon blogger"></i></a>
								<a title="OpenID" href="javascript:void(0)"
									onclick="BxShowAuthFloatNew('OpenID', 'form')"><i class="bx-ss-icon openid"></i></a>
							</div>
							<div style="display:none">
								<div id="bx_auth_float" class="bx-auth-float">



									<div class="bx-auth">
										<form method="post" name="bx_auth_servicesform" target="_top"
											action="/?login=yes">
											<div class="bx-auth-title">Войти как пользователь</div>
											<div class="bx-auth-note">Вы можете войти на сайт, если вы зарегистрированы
												на одном из этих сервисов:</div>
											<div class="bx-auth-services">
												<div><a href="javascript:void(0)"
														onclick="BxShowAuthService('Livejournal', 'form')"
														id="bx_auth_href_formLivejournal"><i
															class="bx-ss-icon livejournal"></i><b>Livejournal</b></a>
												</div>
												<div><a href="javascript:void(0)"
														onclick="BxShowAuthService('MailRuOpenID', 'form')"
														id="bx_auth_href_formMailRuOpenID"><i
															class="bx-ss-icon openid-mail-ru"></i><b>Mail.Ru</b></a>
												</div>
												<div><a href="javascript:void(0)"
														onclick="BxShowAuthService('Liveinternet', 'form')"
														id="bx_auth_href_formLiveinternet"><i
															class="bx-ss-icon liveinternet"></i><b>Liveinternet</b></a>
												</div>
												<div><a href="javascript:void(0)"
														onclick="BxShowAuthService('Blogger', 'form')"
														id="bx_auth_href_formBlogger"><i
															class="bx-ss-icon blogger"></i><b>Blogger</b></a></div>
												<div><a href="javascript:void(0)"
														onclick="BxShowAuthService('OpenID', 'form')"
														id="bx_auth_href_formOpenID"><i
															class="bx-ss-icon openid"></i><b>OpenID</b></a></div>
											</div>
											<div class="bx-auth-line"></div>
											<div class="bx-auth-service-form" id="bx_auth_servform"
												style="display:none">
												<div id="bx_auth_serv_formLivejournal" style="display:none">
													<span class="bx-ss-icon livejournal"></span>
													<input type="text" name="OPENID_IDENTITY_LIVEJOURNAL" value=""
														size="20">
													<span>.livejournal.com</span>
													<input type="hidden" name="sessid" id="sessid_1"
														value="b8b79193864f9ce17708227a7e7a22d2">
													<input type="hidden" name="auth_service_error" value="">
													<input type="submit" class="button" name="" value="Войти">
												</div>
												<div id="bx_auth_serv_formMailRuOpenID" style="display:none">
													<span class="bx-ss-icon openid-mail-ru"></span>
													<input type="text" name="OPENID_IDENTITY_MAILRU" value="" size="20">
													<span>@mail.ru</span>
													<input type="hidden" name="sessid" id="sessid_2"
														value="b8b79193864f9ce17708227a7e7a22d2">
													<input type="hidden" name="auth_service_error" value="">
													<input type="submit" class="button" name="" value="Войти">
												</div>
												<div id="bx_auth_serv_formLiveinternet" style="display:none">
													<span class="bx-ss-icon liveinternet"></span>
													<span>liveinternet.ru/users/</span>
													<input type="text" name="OPENID_IDENTITY_LIVEINTERNET" value=""
														size="15">
													<input type="hidden" name="sessid" id="sessid_3"
														value="b8b79193864f9ce17708227a7e7a22d2">
													<input type="hidden" name="auth_service_error" value="">
													<input type="submit" class="button" name="" value="Войти">
												</div>
												<div id="bx_auth_serv_formBlogger" style="display:none">
													<span class="bx-ss-icon blogger"></span>
													<input type="text" name="OPENID_IDENTITY_BLOGGER" value=""
														size="20">
													<span>.blogspot.com</span>
													<input type="hidden" name="sessid" id="sessid_4"
														value="b8b79193864f9ce17708227a7e7a22d2">
													<input type="hidden" name="auth_service_error" value="">
													<input type="submit" class="button" name="" value="Войти">
												</div>
												<div id="bx_auth_serv_formOpenID" style="display:none">
													<span class="bx-ss-icon openid"></span>
													<span>OpenID:</span>
													<input type="text" name="OPENID_IDENTITY_OPENID" value="" size="30">
													<input type="hidden" name="sessid" id="sessid_5"
														value="b8b79193864f9ce17708227a7e7a22d2">
													<input type="hidden" name="auth_service_error" value="">
													<input type="submit" class="button" name="" value="Войти">
												</div>
											</div>
											<input type="hidden" name="auth_service_id" value="">
										</form>
									</div>

								</div>
							</div>

						</div>
					</div>
					<a class="register" href="/personal/private/?register=yes" title="Регистрация" rel="nofollow"><i
							class="fa fa-user-plus"></i><span>Регистрация</span></a>
					<!--'end_frame_cache_kabinet'-->
				</div>
{#				<div class="compare_line">
					<!--'start_frame_cache_compare'--> <a href="/catalog/compare/" title="Сравнение" rel="nofollow">
						<i class="fa fa-bar-chart"></i>
						<span class="text">Сравнение</span>
						<span class="qnt_cont">
							<span class="qnt">0</span>
						</span>
					</a>
					<!--'end_frame_cache_compare'-->
				</div>
#}
				<div class="delay_line">
					<!--'start_frame_cache_delay'--> <a href="/personal/cart/?delay=Y" title="Отложенные"
						rel="nofollow">
						<i class="fa fa-heart"></i>
						<span class="text">Отложенные</span>
						<span class="qnt_cont">
							<span class="qnt">
								0 </span>
						</span>
					</a>
					<!--'end_frame_cache_delay'-->
				</div>

			</div>
			<div class="foot_panel_2">



				<div class="cart_line" id="cart_line1">
					<!--'start_frame_cache_cart_line'-->


					<a href="/personal/cart/" class="cart" title="Моя корзина" rel="nofollow">
						<i class="fa fa-shopping-cart"></i>
						<span class="text">Моя корзина</span>
						<span class="qnt_cont">
							<span class="qnt">0</span>
						</span>
					</a>
					<span class="sum_cont">
						<span class="sum" data-sum="0" data-separator=" " data-decimal="0" data-dec-point=".">
							<span id="cartCounter">0</span>
							<span class="curr"> руб.</span>
						</span>
					</span>
					<div class="oformit_cont">
						<div class="btn_buy oformit dsbl">Оформить</div>
					</div>
					<!--'end_frame_cache_cart_line'-->
				</div>


			</div>
		</div>
	</div>
</div>


<!-- -------------Панель сверху-->























{#
<nav id="top" >
  <div class="container">{{ currency }}
    {{ language }}
	{{ blog_menu }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li> 
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
		<div id="logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %} 
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
		</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>

{{ menu }}
#}