<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<!--
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
-->


<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />

<!-- Новое -->
<link href="catalog/view/theme/atvdoc/stylesheet/styles.css" rel="stylesheet" media="screen" />
<link href="/catalog/view/javascript/magnific-popup/magnific-popup.css" rel="stylesheet"type="text/css" />

<script src="/catalog/view/javascript/jquery.easing.1.2.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/jquery.anythingslider.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/magnific-popup/jquery.magnific-popup.min.js" type="text/javascript"></script>

<!-- ----Новое -->
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>


<body class="bg-position bg-repeat-x bg-repeat-y bg-fixed" style="background-image: url('/image/img/backgrount.jpg')">
		
	<div class="bx-panel clvt">
			</div>
	<div class="bx-include-empty">
			</div>
	<div class="body clvt">
		<div class="page-wrapper">
				<div id="for-quick-view-header" class="center outer">


<header>
				<div class="center inner">
					<div class="header_1">
						<div class="logo" id = "logo">
						          {% if logo %}
									{% if home == og_url %}
									  <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
									{% else %}
									  <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
									{% endif %} 
								  {% else %}
									<h1><a href="{{ home }}">{{ name }}</a></h1>
								  {% endif %}
						
							
						</div>
					</div>
					<div class="header_2">
						<div id="altop_search" class="form-box">
							
							
							<form action="/catalog/">
								<i class="fa fa-search"></i>
								<input type="text" name="q" id="title-search-input" class="" maxlength="50" autocomplete="off" placeholder="Поиск по товарам, брендам, категориям" value="">
								<input type="submit" name="submit" class="" value="Найти">
							</form>
							
							
						</div>

						<script type="text/javascript">
							/*
							var jsControl = new JCTitleSearch({
								'WAIT_IMAGE': '/bitrix/themes/.default/images/wait.gif',
								'AJAX_PAGE' : '/',
								'CONTAINER_ID': 'altop_search',
								'INPUT_ID': 'title-search-input',
								'MIN_QUERY_LEN': 3
							});
							*/
						</script> 					
					</div>
					<div class="header_3">
						<div class="schedule">
							<p class="time"><i class="fa fa-clock-o"></i><span>Время работы:</span></p><p>ПН-ПТ 09:00 - 22:00<br>СБ-ВС 10:00 - 23:00</p>						</div>
					</div>
					<div class="header_4">
						<div class="contacts">
							<!--'start_frame_cache_geolocation'-->	<div id="geolocation" class="geolocation">
		<a id="geolocationChangeCity" class="geolocation__link" href="javascript:void(0);"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="geolocation__value">Калужская область</span></a>
	</div>
	

	<div class="telephone"><p><span class="icon mts"></span><span>+7 (910)</span> 000-00-00</p>
	<p><span class="icon megafon"></span><span>+7 (920)</span> 000-00-00</p>
	<p><span class="icon beeline"></span><span>+7 (906)</span> 000-00-00</p>
	<p><span class="icon tele2"></span><span>+7 (900)</span> 000-00-00</p></div>

	<script type="text/javascript">
		//JS_MESSAGE//
/*
		BX.message({		
			GEOLOCATION_POSITIONING: "Определение...",
			GEOLOCATION_NOT_DEFINED: "Не определен",
			GEOLOCATION_YOUR_CITY: "Ваш город",
			GEOLOCATION_YES: "Да",
			GEOLOCATION_CHANGE_CITY: "Выбрать другой город",
			GEOLOCATION_POPUP_WINDOW_TITLE: "Ваш регион доставки",
			GEOLOCATION_COMPONENT_PATH: "/bitrix/components/altop/geolocation",
			GEOLOCATION_COMPONENT_TEMPLATE: "/bitrix/components/altop/geolocation/templates/.default",		
			GEOLOCATION_PARAMS: 'eNqNU81ugkAYfBWyD9BcMLYq66HZwqpEYImsqZyIaW1i0tiD9mTkAZv0Hehv2pqS2l56aNIuKyAoaLl8y87s8H0z7FwwygqcTaAkQaCfGETteNS1MWhMYA2Cs6vxdDieRm9KiusaaIxgje1JMgROm5x6KrGaeteMeEzHjaqcYBpuop5BPXYWUZ1YTpYlHcUsivvU4_o5EWkL9qhODZzTqEJQhMtcIgS3T8J78L14EZb34avwEH6Ej8f8DMNUpLZxOi1TQxuIbiaIyCtbqIR09DVUh6BSFfnDGfWIYdrEwhZlPZu2gWhCPDgfXgyuL7mZ0iEEJtGwR2zc5a5Eu2wOF1ka7oPYW39nXCJRp34mE95pjdcKQ0qDScHdyVQTWkk08jZekA1r2S9cIrDeE0_9kiAy0GYS0bf3RKFwyn-yYL-gv1wnDDYFsWOLBrACZyMoxh61MEn881SdutHdkGKbs1i6WF0fuYDCwqJIpQ6nzMvkV6beBIuv5-Vb8CuEd4tg-fkD9gmOoBJP23Owl6HlUlXyCl3cYgUZqdSaPP8Dfo87tA,,',		
			GEOLOCATION_SHOW_CONFIRM: "Y"
		});

				
		//CHANGE_CITY//
		BX.bind(BX("geolocationChangeCity"), "click", BX.delegate(BX.CityChange, BX));
		
*/
	</script>
<!--'end_frame_cache_geolocation'-->							
<a id="callbackAnch" class="btn_buy apuo callback_anch" href="javascript:void(0)">
	<span class="cont"><i class="fa fa-phone"></i><span class="text">Заказать звонок</span></span>
</a>
						</div>
					</div>
				</div>
</header>
			
			
			
<div class="top-menu">
	<div class="center inner">
						

<div class="store-horizontal-wrap">
	<!-- Главное меню-->
	<ul class="store-horizontal" 1111111>
		<li class="active"><a href="/">Главная</a></li>
							<li>
						<a href="/catalog/">Каталог</a>
					</li>
									<li>
						<a href="/vendors/">Производители</a>
					</li>
									<li>
						<a href="/promotions/">Акции и скидки</a>
					</li>
									<li>
						<a href="/news/">Новости</a>
					</li>
									<li>
						<a href="/reviews/">Обзоры</a>
					</li>
									<li>
						<a href="/payments/">Оплата</a>
					</li>
									<li>
						<a href="/delivery/">Доставка</a>
					</li>
									<li>
						<a href="/credit/">Кредит</a>
					</li>
									<li>
						<a href="/warranty/">Гарантия</a>
					</li>
														
					<li class="dropdown more"><a href="javascript:void(0)">...</a><ul class="dropdown-menu more-menu"><li class="dropdown">
						<a href="/about/">О Компании</a>
						<ul class="dropdown-menu">
									<li>
						<a href="/about/history/">История компании</a>
					</li>
									<li>
						<a href="/about/certificates/">Сертификаты и лицензии</a>
					</li>
									<li>
						<a href="/about/awards/">Награды и достижения</a>
					</li>
									<li>
						<a href="/about/partners/">Наши партнеры</a>
					</li>
									<li>
						<a href="/about/responses/">Отзывы о компании</a>
					</li>
									<li>
						<a href="/about/employees/">Наши сотрудники</a>
					</li>
									<li>
						<a href="/about/vacancies/">Вакансии</a>
					</li>
									<li>
						<a href="/about/details/">Реквизиты</a>
					</li>
				</ul></li><li>
						<a href="/contacts/">Контакты</a>
					</li></ul></li>
				
				</ul>
	<!-- --Главное меню-->			
</div>

<script type="text/javascript">
	//<![CDATA[
	$(function() {
		//MOREMENU//
		$(".top-menu ul.store-horizontal").moreMenu();

		//DROPDOWN//	
		$(".top-menu ul.store-horizontal .dropdown:not(.more)").on({		
			mouseenter: function() {
				var menu = $(this).closest(".store-horizontal"),
					menuWidth = menu.outerWidth(),
					menuLeft = menu.offset().left,
					menuRight = menuLeft + menuWidth,
					isParentDropdownMenu = $(this).closest(".dropdown-menu"),					
					dropdownMenu = $(this).children(".dropdown-menu"),
					dropdownMenuWidth = dropdownMenu.outerWidth(),					
					dropdownMenuLeft = isParentDropdownMenu.length > 0 ? $(this).offset().left + $(this).outerWidth() : $(this).offset().left,
					dropdownMenuRight = dropdownMenuLeft + dropdownMenuWidth;
				if(dropdownMenuRight > menuRight) {
					if(isParentDropdownMenu.length > 0) {
						dropdownMenu.css({"left": "auto", "right": "100%"});
					} else {
						dropdownMenu.css({"right": "0"});
					}
				}
				$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeIn(150);
			},
			mouseleave: function() {
				$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeOut(150);
			}
		});
	});
	//]]>
</script>			

</div>
</div>
			


<div class="top_panel">
	<div class="center inner">
		<div class="panel_1">
	
<!-- Мобильное меню (каталог)-->

<ul class="section-vertical">
	<li>
		<a href="javascript:void(0)" class="showsection"><i class="fa fa-bars"></i><span>Каталог</span></a>
		<div class="catalog-section-list" style="display:none;">
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/elektroinstrumenty/">Электроинструменты</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/gravery/" title="Граверы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-engraver" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Граверы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/dreli/" title="Дрели">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-drill" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Дрели</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/kraskopulty/" title="Краскопульты">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-airbrush" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Краскопульты</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/lobzikovye-pily/" title="Лобзиковые пилы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-electric-jig-saw" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Лобзиковые пилы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/miksery/" title="Миксеры">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-electric-construction-mixer" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Миксеры</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/nozhovki-i-stoljarnye-nozhovki/" title="Ножовки и столярные ножовки">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-electric-hacksaw" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Ножовки и столярные ножовки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/otboynye-molotki/" title="Отбойные молотки">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-jackhammer" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Отбойные молотки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/perforatory/" title="Перфораторы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-perforator" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Перфораторы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/polirovalnye-mashiny/" title="Полировальные машины">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-polish-machine" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Полировальные машины</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/rubanki/" title="Рубанки">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-electric-planer" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Рубанки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/ruchnye-diskovye-pily/" title="Ручные циркулярные пилы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-circular-saw" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Ручные циркулярные пилы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/shlifovalnye-mashiny/" title="Шлифовальные машины">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-angle-grinder" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Шлифовальные машины</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/elektronozhnitsy/" title="Электроножницы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-electric-scissors" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Электроножницы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/akkumuljatornyj-instrument/" title="Аккумуляторный инструмент">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-cordless-screwdriver" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Аккумуляторный инструмент</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/aksessuary/" title="Аксессуары">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-milling-disk" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Аксессуары</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/shtroborezy/" title="Штроборезы">
										<span class="child">
											<span class="graph">
																									<i class="ef ef-wall-chaser" aria-hidden="true"></i>
																							</span>
											<span class="text-cont">
												<span class="text">Штроборезы</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/sadovaya-tekhnika/">Садовая техника</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/trimmery/" title="Триммеры">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/bcb/bcbf1472be0ae0cf02b800da9f67989b.jpg" width="50" height="50" alt="Триммеры" title="Триммеры">
																							</span>
											<span class="text-cont">
												<span class="text">Триммеры</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/gazonokosilki/" title="Газонокосилки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/599/599021ccf597e116450aca9552149183.jpg" width="50" height="50" alt="Газонокосилки" title="Газонокосилки">
																							</span>
											<span class="text-cont">
												<span class="text">Газонокосилки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/kustorezy/" title="Кусторезы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/aba/abaa397ef363717af41f74f6298a6015.jpg" width="50" height="50" alt="Кусторезы" title="Кусторезы">
																							</span>
											<span class="text-cont">
												<span class="text">Кусторезы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/kultivatory/" title="Культиваторы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/16d/16da367e81529dea4cbd6882bb99bba5.jpg" width="50" height="50" alt="Культиваторы" title="Культиваторы">
																							</span>
											<span class="text-cont">
												<span class="text">Культиваторы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/motobloki/" title="Мотоблоки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/8b4/8b4bd8c1f209835fc4db2ee2e91f9914.jpg" width="50" height="50" alt="Мотоблоки" title="Мотоблоки">
																							</span>
											<span class="text-cont">
												<span class="text">Мотоблоки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/traktory/" title="Тракторы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/a21/a21a9ae084ada8fd041e8285072eb4ce.jpg" width="50" height="50" alt="Тракторы" title="Тракторы">
																							</span>
											<span class="text-cont">
												<span class="text">Тракторы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/nasosy/" title="Насосы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/d08/d0811b7634ce55c76172f714468e8c49.jpg" width="50" height="50" alt="Насосы" title="Насосы">
																							</span>
											<span class="text-cont">
												<span class="text">Насосы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/tsepnye-pily/" title="Цепные пилы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/73f/73f1ea6e51aab70d058e2e26a58f95ca.jpg" width="50" height="50" alt="Цепные пилы" title="Цепные пилы">
																							</span>
											<span class="text-cont">
												<span class="text">Цепные пилы</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/keramicheskaya-plitka/">Керамическая плитка</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/kollektsii-plitki/" title="Коллекции плитки">
										<span class="child">
											<span class="graph">
																				
													<img src="/upload/resize_cache/iblock/efe/50_50_1/efe01159ae48398b16f96dea18ea642e.jpg" width="50" height="32" alt="Коллекции плитки" title="Коллекции плитки">
																							</span>
											<span class="text-cont">
												<span class="text">Коллекции плитки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/napolnaya-plitka/" title="Напольная плитка">
										<span class="child">
											<span class="graph">
																				
													<img src="/upload/resize_cache/iblock/43a/50_50_1/43aa0aea15dbc6b9837be2f72e53986b.jpg" width="50" height="50" alt="Напольная плитка" title="Напольная плитка">
																							</span>
											<span class="text-cont">
												<span class="text">Напольная плитка</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/klimaticheskaya-tekhnika/">Климатическая техника</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/vodonagrevateli/" title="Водонагреватели">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/ae9/ae9b4b261c1b6b27dba182beefffa751.jpg" width="50" height="50" alt="Водонагреватели" title="Водонагреватели">
																							</span>
											<span class="text-cont">
												<span class="text">Водонагреватели</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/kotly/" title="Котлы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/065/065978eca109fe57785ffed7dcf94e17.jpg" width="50" height="50" alt="Котлы" title="Котлы">
																							</span>
											<span class="text-cont">
												<span class="text">Котлы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/obogrevateli/" title="Обогреватели">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/c7f/c7fbecf30ecb166e44eb330cd79f0645.jpg" width="50" height="50" alt="Обогреватели" title="Обогреватели">
																							</span>
											<span class="text-cont">
												<span class="text">Обогреватели</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 2px 0px;">
							<a href="/catalog/ruchnoy-instrument/">Ручной инструмент</a>
													</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/stroitelnaya-tekhnika/">Строительная техника</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/benzorezy/" title="Бензорезы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/b38/b382bdc10194b006bfddcb0c261b48c0.jpg" width="50" height="50" alt="Бензорезы" title="Бензорезы">
																							</span>
											<span class="text-cont">
												<span class="text">Бензорезы</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/betonomeshalki/" title="Бетономешалки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/439/4395be6695f7d4f21d3986808a3e9685.jpg" width="50" height="50" alt="Бетономешалки" title="Бетономешалки">
																							</span>
											<span class="text-cont">
												<span class="text">Бетономешалки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/vibroplity/" title="Виброплиты">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/b6a/b6a704066e32df6581823d2366deb5ad.jpg" width="50" height="50" alt="Виброплиты" title="Виброплиты">
																							</span>
											<span class="text-cont">
												<span class="text">Виброплиты</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/zatirochnye-mashiny/" title="Затирочные машины">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/da3/da3b8f7f71931284b4a59eba43567687.jpg" width="50" height="50" alt="Затирочные машины" title="Затирочные машины">
																							</span>
											<span class="text-cont">
												<span class="text">Затирочные машины</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/stroitelnye-materialy/">Строительные материалы</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/trotuarnaya-plitka/" title="Тротуарная плитка">
										<span class="child">
											<span class="graph">
																									<img src="/bitrix/templates/elektro_flat/images/no-photo.jpg" width="50" height="50" alt="Тротуарная плитка" title="Тротуарная плитка">
																							</span>
											<span class="text-cont">
												<span class="text">Тротуарная плитка</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/elektrotekhnika/">Электротехника</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/generatory/" title="Генераторы">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/817/81755922ef60a3326c80e13a51af366b.jpg" width="50" height="50" alt="Генераторы" title="Генераторы">
																							</span>
											<span class="text-cont">
												<span class="text">Генераторы</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
							<div class="catalog-section">
											<div class="catalog-section-title" style="margin:0px 0px 4px 0px;">
							<a href="/catalog/stanki/">Станки</a>
															<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></span>
													</div>
											<div class="catalog-section-childs" style="display:none;">
															<div class="catalog-section-child">
									<a href="/catalog/lobzikovye-stanki/" title="Лобзиковые станки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/8a2/8a2ce3cd40b2b29889f7fb4227ca05a6.jpg" width="50" height="50" alt="Лобзиковые станки" title="Лобзиковые станки">
																							</span>
											<span class="text-cont">
												<span class="text">Лобзиковые станки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/raspilovochnye-stanki/" title="Распиловочные станки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/2ce/2ce6004445deda824a363888174fd073.jpg" width="50" height="50" alt="Распиловочные станки" title="Распиловочные станки">
																							</span>
											<span class="text-cont">
												<span class="text">Распиловочные станки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/sverlilnye-stanki/" title="Сверлильные станки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/a2f/a2f0bfb7a0c9431736d85fe286b606ae.jpg" width="50" height="50" alt="Сверлильные станки" title="Сверлильные станки">
																							</span>
											<span class="text-cont">
												<span class="text">Сверлильные станки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/tokarnye-stanki/" title="Токарные станки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/b90/b90e0675cba47ca9cdb0fffdf7d28991.jpg" width="50" height="50" alt="Токарные станки" title="Токарные станки">
																							</span>
											<span class="text-cont">
												<span class="text">Токарные станки</span>
											</span>
										</span>
									</a>
								</div>
															<div class="catalog-section-child">
									<a href="/catalog/frezernye-stanki/" title="Фрезерные станки">
										<span class="child">
											<span class="graph">
																				
													<img src="http://elektrosila.altop.ru/upload/iblock/2e6/2e64a66dbad525f56c28dbd4889e260c.jpg" width="50" height="50" alt="Фрезерные станки" title="Фрезерные станки">
																							</span>
											<span class="text-cont">
												<span class="text">Фрезерные станки</span>
											</span>
										</span>
									</a>
								</div>
														<div class="clr"></div>
						</div>
									</div>			
					</div>
	</li>
</ul>

<!-- --Мобильное меню -->


<script type="text/javascript">
	//<![CDATA[
	$(function() {
		$('.showsection').click(function() {
			var clickitem = $(this);
			if(clickitem.parent('li').hasClass('')) {
				clickitem.parent('li').addClass('active');
			} else {
				clickitem.parent('li').removeClass('active');
			}
			
			if($('.showsubmenu').parent('li').hasClass('active')) {
				$('.showsubmenu').parent('li').removeClass('active');
				$('.showsubmenu').parent('li').find('ul.submenu').css({'display':'none'});
			}
			
			if($('.showcontacts').parent('li').hasClass('active')) {
				$('.showcontacts').parent('li').removeClass('active');
				$('.header_4').css({'display':'none'});
			}
			
			if($('.showsearch').parent('li').hasClass('active')) {
				$('.showsearch').parent('li').removeClass('active');
				$('.header_2').css({'display':'none'});
				$('div.title-search-result').css({'display':'none'});
			}

			clickitem.parent('li').find('.catalog-section-list').slideToggle();
		});
		$('.showsectionchild').click(function() {
			var clickitem = $(this);
			if(clickitem.parent('div').hasClass('active')) {
				clickitem.parent('div').removeClass('active');
			} else {
				clickitem.parent('div').addClass('active');
			}
			clickitem.parent('div').parent('div').find('.catalog-section-childs').slideToggle();
		});
	});
	//]]>
</script>					</div>
<div class="panel_2">
	<!-- Мобильное меню (главное)-->
	<ul class="store-vertical">
		<li>
			<a href="javascript:void(0)" class="showsubmenu">Меню</a>
			<ul class="submenu" style="display:none;">
				<li>
					<a href="/" class="root-item-selected">Главная</a>
				</li>
										<li>
								<a href="/catalog/" class="root-item">Каталог</a>
							</li>
												<li>
								<a href="/vendors/" class="root-item">Производители</a>
							</li>
												<li>
								<a href="/promotions/" class="root-item">Акции и скидки</a>
							</li>
												<li>
								<a href="/news/" class="root-item">Новости</a>
							</li>
												<li>
								<a href="/reviews/" class="root-item">Обзоры</a>
							</li>
												<li>
								<a href="/payments/" class="root-item">Оплата</a>
							</li>
												<li>
								<a href="/delivery/" class="root-item">Доставка</a>
							</li>
												<li>
								<a href="/credit/" class="root-item">Кредит</a>
							</li>
												<li>
								<a href="/warranty/" class="root-item">Гарантия</a>
							</li>
											<li>
							<span class="text">
								<a href="/about/" class="root-item">О Компании</a>
								<span class="showchild"><i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></span>
							</span>
							<ul style="display:none;">
											<li>
								<a href="/about/history/" class="root-item">История компании</a>
							</li>
												<li>
								<a href="/about/certificates/" class="root-item">Сертификаты и лицензии</a>
							</li>
												<li>
								<a href="/about/awards/" class="root-item">Награды и достижения</a>
							</li>
												<li>
								<a href="/about/partners/" class="root-item">Наши партнеры</a>
							</li>
												<li>
								<a href="/about/responses/" class="root-item">Отзывы о компании</a>
							</li>
												<li>
								<a href="/about/employees/" class="root-item">Наши сотрудники</a>
							</li>
												<li>
								<a href="/about/vacancies/" class="root-item">Вакансии</a>
							</li>
												<li>
								<a href="/about/details/" class="root-item">Реквизиты</a>
							</li>
						</ul></li>						<li>
								<a href="/contacts/" class="root-item">Контакты</a>
							</li>
								</ul>
		</li>
	</ul>
	<!-- --Мобильное меню (главное)-->
	<script type="text/javascript">
		//<![CDATA[
		$(function() {
			$('.showsubmenu').click(function() {
				var clickitem = $(this);
				if(clickitem.parent('li').hasClass('')) {
					clickitem.parent('li').addClass('active');
				} else {
					clickitem.parent('li').removeClass('active');
				}
				
				if($('.showsection').parent('li').hasClass('active')) {
					$('.showsection').parent('li').removeClass('active');
					$('.showsection').parent('li').find('.catalog-section-list').css({'display':'none'});
				}
				
				if($('.showcontacts').parent('li').hasClass('active')) {
					$('.showcontacts').parent('li').removeClass('active');
					$('.header_4').css({'display':'none'});
				}
				
				if($('.showsearch').parent('li').hasClass('active')) {
					$('.showsearch').parent('li').removeClass('active');
					$('.header_2').css({'display':'none'});
					$('div.title-search-result').css({'display':'none'});
				}

				clickitem.parent('li').find('ul.submenu').slideToggle();
			});
			
			var lis = $('.submenu').find('li');
			for(var i = 0; i < lis.length; i++) {
				if($(lis[i]).hasClass('item-selected')) {
					$(lis[i]).addClass('active');
					var ul = $(lis[i]).find('ul:first');
					$(ul).css({display: 'block'});
				}
			}
			
			$('.showchild').click(function() {
				var clickitem = $(this);
				if(clickitem.parent('span').parent('li').hasClass('active')) {
					clickitem.parent('span').parent('li').removeClass('active');
				} else {
					clickitem.parent('span').parent('li').addClass('active');
				}
				clickitem.parent('span').parent('li').find('ul:first').slideToggle();
			});
		});
		//]]>
	</script>
</div>



		<div class="panel_3">
			<ul class="contacts-vertical">
				<li>
					<a class="showcontacts" href="javascript:void(0)"><i class="fa fa-phone"></i></a>
				</li>
			</ul>
		</div>
		<div class="panel_4">
			<ul class="search-vertical">
				<li>
					<a class="showsearch" href="javascript:void(0)"><i class="fa fa-search"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>






































































{#
<nav id="top" >
  <div class="container">{{ currency }}
    {{ language }}
	{{ blog_menu }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li> 
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
		<div id="logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %} 
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
		</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>

{{ menu }}
#}