{{ header }}

{#}
<div class="content-wrapper">
  <div class="center inner">
    <div class="content">
      <div class="left-column">

      </div>
      <div class="workareA {{ class }}" id="content">
        {{ content_top }}{{ content_bottom }}
      </div>
    </div>
  </div>
</div>

#}

<div class="content-wrapper">
  <div class="center inner">
    <div class="content">
      <div class="left-column">

        {{ column_left }}

        {{ column_right }}

 <!-- Левое меню -->			
        <div class="h3">Каталог товаров</div>
        <div>

       								
        <ul class="left-menu" >
          <li class="parent">
          <a href="/catalog/elektroinstrumenty/">Электроинструменты<span class="arrow"></span></a>
                  <ul class="submenu" style="left: 352.5px; top: 0px; z-index: 9999; display: none;">			
              <li>
            <a href="/catalog/gravery/">Граверы</a>
          </li>				
                <li>
            <a href="/catalog/dreli/">Дрели</a>
          </li>				
                <li>
            <a href="/catalog/kraskopulty/">Краскопульты</a>
          </li>				
                <li>
            <a href="/catalog/lobzikovye-pily/">Лобзиковые пилы</a>
          </li>				
                <li>
            <a href="/catalog/miksery/">Миксеры</a>
          </li>				
                <li>
            <a href="/catalog/nozhovki-i-stoljarnye-nozhovki/">Ножовки и столярные ножовки</a>
          </li>				
                <li>
            <a href="/catalog/otboynye-molotki/">Отбойные молотки</a>
          </li>				
                <li>
            <a href="/catalog/perforatory/">Перфораторы</a>
          </li>				
                <li>
            <a href="/catalog/polirovalnye-mashiny/">Полировальные машины</a>
          </li>				
                <li>
            <a href="/catalog/rubanki/">Рубанки</a>
          </li>				
                <li>
            <a href="/catalog/ruchnye-diskovye-pily/">Ручные циркулярные пилы</a>
          </li>				
              <li class="parent">
          <a href="/catalog/shlifovalnye-mashiny/">Шлифовальные машины<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/lentochnye/">Ленточные шлифмашины</a>
          </li>				
                <li>
            <a href="/catalog/ploskie/">Плоские шлифмашины</a>
          </li>				
                <li>
            <a href="/catalog/pryamye/">Прямые шлифмашины</a>
          </li>				
                <li>
            <a href="/catalog/po-betonu/">Шлифмашины по бетону</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/elektronozhnitsy/">Электроножницы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/vysechnye-elektronozhnitsy/">Высечные электроножницы</a>
          </li>				
                <li>
            <a href="/catalog/lezviynye-elektronozhnitsy/">Лезвийные электроножницы</a>
          </li>				
                <li>
            <a href="/catalog/listovye-elektronozhnitsy/">Листовые электроножницы</a>
          </li>				
                <li>
            <a href="/catalog/shlitsevye-elektronozhnitsy/">Шлицевые электроножницы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/akkumuljatornyj-instrument/">Аккумуляторный инструмент<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/akkumuljatornye-shurupoverty-i-dreli/">Аккумуляторные дрели-шуруповерты</a>
          </li>				
              <li class="parent">
          <a href="/catalog/akkumulyatornye-perforatory/">Аккумуляторные перфораторы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/poduroven-3-1/">Подуровень 3.1</a>
          </li>				
                <li>
            <a href="/catalog/poduroven-3-2/">Подуровень 3.2</a>
          </li>				
                <li>
            <a href="/catalog/poduroven-3-3/">Подуровень 3.3</a>
          </li>				
        </ul></li>				<li>
            <a href="/catalog/akkumuljatornye-shurupoverty/">Аккумуляторные шуруповерты</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/aksessuary/">Аксессуары<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/zashchitnaya-ekipirovka/">Защитная экипировка</a>
          </li>				
                <li>
            <a href="/catalog/napravlyayushchie/">Направляющие</a>
          </li>				
                <li>
            <a href="/catalog/sumki/">Сумки</a>
          </li>				
                <li>
            <a href="/catalog/firmennye-mayki/">Фирменные майки</a>
          </li>				
        </ul></li>				<li>
            <a href="/catalog/shtroborezy/">Штроборезы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/sadovaya-tekhnika/">Садовая техника<span class="arrow"></span></a>
                  <ul class="submenu">			
            <li class="parent">
          <a href="/catalog/trimmery/">Триммеры<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/akkumulyatornye-trimmery/">Аккумуляторные триммеры</a>
          </li>				
                <li>
            <a href="/catalog/benzinovye-trimmery/">Бензиновые триммеры</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-trimmery/">Электрические триммеры</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/gazonokosilki/">Газонокосилки<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/benzinovye-gazonokosilki/">Бензиновые газонокосилки</a>
          </li>				
                <li>
            <a href="/catalog/mekhanicheskie-gazonokosilki/">Механические газонокосилки</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-gazonokosilki/">Электрические газонокосилки</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/kustorezy/">Кусторезы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/akkumulyatornye-kustorezy/">Аккумуляторные кусторезы</a>
          </li>				
                <li>
            <a href="/catalog/benzinovye-kustorezy/">Бензиновые кусторезы</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-kustorezy/">Электрические кусторезы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/kultivatory/">Культиваторы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/benzinovye-kultivatory/">Бензиновые культиваторы</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-kultivatory/">Электрические культиваторы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/motobloki/">Мотоблоки<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/benzinovye-motobloki/">Бензиновые мотоблоки</a>
          </li>				
                <li>
            <a href="/catalog/dizelnye-motobloki/">Дизельные мотоблоки</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/traktory/">Тракторы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/minitraktory/">Минитракторы</a>
          </li>				
                <li>
            <a href="/catalog/raydery/">Райдеры</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/nasosy/">Насосы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/poverkhnostnye-nasosy/">Поверхностные насосы</a>
          </li>				
                <li>
            <a href="/catalog/pogruzhnye-nasosy/">Погружные насосы</a>
          </li>				
                <li>
            <a href="/catalog/tsirkulyatsionnye-nasosy/">Циркуляционные насосы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/tsepnye-pily/">Цепные пилы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/akkumulyatornye-pily/">Аккумуляторные пилы</a>
          </li>				
                <li>
            <a href="/catalog/benzopily/">Бензопилы</a>
          </li>				
                <li>
            <a href="/catalog/elektropily/">Электропилы</a>
          </li>				
        </ul></li></ul></li>			<li class="parent">
          <a href="/catalog/keramicheskaya-plitka/">Керамическая плитка<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/kollektsii-plitki/">Коллекции плитки</a>
          </li>				
                <li>
            <a href="/catalog/napolnaya-plitka/">Напольная плитка</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/klimaticheskaya-tekhnika/">Климатическая техника<span class="arrow"></span></a>
                  <ul class="submenu">			
            <li class="parent">
          <a href="/catalog/vodonagrevateli/">Водонагреватели<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/gazovye-vodonagrevateli/">Газовые водонагреватели</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-vodonagrevateli/">Электрические водонагреватели</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/kotly/">Котлы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/gazovye-kotly/">Газовые котлы</a>
          </li>				
                <li>
            <a href="/catalog/zhidkotoplivnye-kotly/">Жидкотопливные котлы</a>
          </li>				
                <li>
            <a href="/catalog/kombinirovannye-kotly/">Комбинированные котлы</a>
          </li>				
                <li>
            <a href="/catalog/tverdotoplivnye-kotly/">Твердотопливные котлы</a>
          </li>				
                <li>
            <a href="/catalog/elektricheskie-kotly/">Электрические котлы</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/obogrevateli/">Обогреватели<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/gazovye-obogrevateli/">Газовые обогреватели</a>
          </li>				
                <li>
            <a href="/catalog/infrakrasnye-obogrevateli/">Инфракрасные обогреватели</a>
          </li>				
                <li>
            <a href="/catalog/konvektory/">Конвекторы</a>
          </li>				
                <li>
            <a href="/catalog/maslyanye-obogrevateli/">Масляные обогреватели</a>
          </li>				
        </ul></li></ul></li>				<li>
            <a href="/catalog/ruchnoy-instrument/">Ручной инструмент</a>
          </li>				
              <li class="parent">
          <a href="/catalog/stroitelnaya-tekhnika/">Строительная техника<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/benzorezy/">Бензорезы</a>
          </li>				
                <li>
            <a href="/catalog/betonomeshalki/">Бетономешалки</a>
          </li>				
                <li>
            <a href="/catalog/vibroplity/">Виброплиты</a>
          </li>				
                <li>
            <a href="/catalog/zatirochnye-mashiny/">Затирочные машины</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/stroitelnye-materialy/">Строительные материалы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/trotuarnaya-plitka/">Тротуарная плитка</a>
          </li>				
        </ul></li>			<li class="parent">
          <a href="/catalog/elektrotekhnika/">Электротехника<span class="arrow"></span></a>
                  <ul class="submenu">			
            <li class="parent">
          <a href="/catalog/generatory/">Генераторы<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/benzinovye-generatory/">Бензиновые генераторы</a>
          </li>				
                <li>
            <a href="/catalog/gazovye-generatory/">Газовые генераторы</a>
          </li>				
                <li>
            <a href="/catalog/dizelnye-generatory/">Дизельные генераторы</a>
          </li>				
                <li>
            <a href="/catalog/svarochnye-generatory/">Сварочные генераторы</a>
          </li>				
        </ul></li></ul>
        </li>			
        <li class="parent">
          <a href="/catalog/stanki/">Станки<span class="arrow"></span></a>
                  <ul class="submenu">			
              <li>
            <a href="/catalog/lobzikovye-stanki/">Лобзиковые станки</a>
          </li>				
                <li>
            <a href="/catalog/raspilovochnye-stanki/">Распиловочные станки</a>
          </li>				
                <li>
            <a href="/catalog/sverlilnye-stanki/">Сверлильные станки</a>
          </li>				
                <li>
            <a href="/catalog/tokarnye-stanki/">Токарные станки</a>
          </li>				
                <li>
            <a href="/catalog/frezernye-stanki/">Фрезерные станки</a>
          </li>				
        </ul>
        </li>

        </ul>
        
        <script type="text/javascript">
        //<![CDATA[
        $(function() {
          $("ul.left-menu").children(".parent").on({
        mouseenter: function() {
                    var pos = $(this).position(),
              dropdownMenu = $(this).children(".submenu"),
              dropdownMenuLeft = pos.left + $(this).width() + 9 + "px",
              dropdownMenuTop = pos.top - 5 + "px";
            if(pos.top + dropdownMenu.outerHeight() > $(window).height() + $(window).scrollTop() - 46) {
              dropdownMenuTop = pos.top - dropdownMenu.outerHeight() + $(this).outerHeight() + 5;
              dropdownMenuTop = (dropdownMenuTop < 0 ? $(window).scrollTop() : dropdownMenuTop) + "px";
            }
            dropdownMenu.css({"left": dropdownMenuLeft, "top": dropdownMenuTop ,"z-index" : "9999"});
            dropdownMenu.stop(true, true).delay(200).fadeIn(150);
                },
        mouseleave: function() {
          $(this).children(".submenu").stop(true, true).delay(200).fadeOut(150);
                }
        });
        });
        //]]>
        </script>  
        </div>
<!-- ----Левое меню -->	

<ul class="new_leader_disc">
<li>
<a class="new" href="/catalog/newproduct/">
  <span class="icon">New</span>
  <span class="text">Новинки</span>
</a>
</li>
<li>
<a class="hit" href="/catalog/saleleader/">
  <span class="icon">Хит</span>
  <span class="text">Хиты продаж</span>
</a>
</li>
<li>
<a class="discount" href="/catalog/discount/">
  <span class="icon">%</span>
  <span class="text">Скидки</span>
</a>
</li>
</ul>
                                          
                                                                      
<div class="banners_left">
<a href="javascript:void(0)">
<img src="http://elektrosila.altop.ru/upload/iblock/ddb/ddb7d5d071e527778018852278523051.jpg" width="202" height="71" alt="Баннер 1">
</a>
<a href="javascript:void(0)">
<img src="http://elektrosila.altop.ru/upload/iblock/a59/a59b200c02fe1a4de9c09b05d8f73e1f.jpg" width="202" height="71" alt="Баннер 2">
</a>
<a href="javascript:void(0)">
<img src="http://elektrosila.altop.ru/upload/iblock/4a4/4a448efbd2137ff21e59ba54ce8f1195.jpg" width="202" height="71" alt="Баннер 3">
</a>
</div>                                    																	                                                                    <div class="vendors">
               
<div class="h3">Производители</div>


<div class="vendors-list">
<p class="vendors-item">
<a rel="nofollow" href="/vendors/baikal/">Baikal</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/bosch/">Bosch</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/dewalt/">DeWalt</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/dwt/">DWT</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/husqvarna/">Husqvarna</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/makita/">Makita</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/metabo/">Metabo</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/paradyz/">Paradyz</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/prorab/">PRORAB</a>
</p>
<p class="vendors-item">
<a rel="nofollow" href="/vendors/skat/">SKAT</a>
</p>
</div>
<a class="all" href="/vendors/">Все производители</a>                                    
</div>

<div class="subscribe">
<div class="h3">Будьте в курсе!</div>
<p>Новости, обзоры и акции</p>
                                  
<form action="/personal/mailings/">
  <input type="hidden" name="sf_RUB_ID[]" value="1">
<input type="text" name="sf_EMAIL" maxlength="50" value="Email" onfocus="this.value=''" onblur="if (this.value==''){this.value='Email'}" class="text">
<button type="submit" name="submit" class="btn_buy ppp" value="Подписаться">Подписаться</button>
</form>                                    </div>
                                                                                              
<div class="news-block">
<div class="news-block__title">Новости</div>
<a class="news-block__all-news top" href="/news/">Все новости</a>
<div class="news-block__items"> 
    
<a class="news-block__item" href="/news/elektricheskiy-rezchik-husqvarna-k-3000-electric-so-skidkoy/">
  <span class="news-block__item-block">
    <span class="news-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/f80/f80b6d55df4ef5dec925199ae352611b.jpg');"></span>
  </span>
  <span class="news-block__item-block">
                <span class="news-block__item-date">21 Декабря 2016</span>
              <span class="news-block__item-text">Электрический резчик Husqvarna K 3000 Electric со скидкой!</span>
  </span>
</a>
    
<a class="news-block__item" href="/news/teper-v-nashem-magazine-predstavlen-novyy-brend-instrumenta-atorch/">
  <span class="news-block__item-block">
    <span class="news-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/633/633910043b012fba5d39b09e970214d2.jpg');"></span>
  </span>
  <span class="news-block__item-block">
                <span class="news-block__item-date">25 Сентября 2016</span>
              <span class="news-block__item-text">Теперь в нашем магазине представлен новый бренд инструмента ATORCH</span>
  </span>
</a>
</div>
<a class="news-block__all-news bottom" href="/news/">Все новости</a>
</div>                                                                                                    
<div class="reviews-block">
<div class="reviews-block__title">Обзоры и советы</div>
<a class="reviews-block__all-reviews top" href="/reviews/">Все обзоры и советы</a>
<div class="reviews-block__items"> 
    <a class="reviews-block__item" href="/reviews/sovety-po-remontu-i-stroitelstvu/kak-ne-prevratit-remont-doma-v-koshmar/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/0e5/0e53a8927e8334298cf4a5d8f8b6f4c2.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Как не превратить ремонт дома в кошмар?</span>
  </span>
</a>
    <a class="reviews-block__item" href="/reviews/sovety-po-remontu-i-stroitelstvu/pravilnoe-uteplenie-kryshi-v-derevyannom-dome/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/889/88996c26c9ea19e0ede3e30ba0c6d7ec.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Правильное утепление крыши в деревянном доме</span>
  </span>
</a>
    <a class="reviews-block__item" href="/reviews/landshaftnyy-dizayn/tendentsii-v-landshaftnom-dizayne-2016/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/4d3/4d35b45e12c31f33bde82259ae197232.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Тенденции в ландшафтном дизайне 2016</span>
  </span>
</a>
</div>
<a class="reviews-block__all-reviews bottom" href="/reviews/">Все обзоры и советы</a>
</div>                  </div>





              
<div class="news-block">
<div class="news-block__title">Новости</div>
<a class="news-block__all-news top" href="/news/">Все новости</a>
<div class="news-block__items"> 
    
<a class="news-block__item" href="/news/elektricheskiy-rezchik-husqvarna-k-3000-electric-so-skidkoy/">
  <span class="news-block__item-block">
    <span class="news-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/f80/f80b6d55df4ef5dec925199ae352611b.jpg');"></span>
  </span>
  <span class="news-block__item-block">
                <span class="news-block__item-date">21 Декабря 2016</span>
              <span class="news-block__item-text">Электрический резчик Husqvarna K 3000 Electric со скидкой!</span>
  </span>
</a>
    
<a class="news-block__item" href="/news/teper-v-nashem-magazine-predstavlen-novyy-brend-instrumenta-atorch/">
  <span class="news-block__item-block">
    <span class="news-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/633/633910043b012fba5d39b09e970214d2.jpg');"></span>
  </span>
  <span class="news-block__item-block">
                <span class="news-block__item-date">25 Сентября 2016</span>
              <span class="news-block__item-text">Теперь в нашем магазине представлен новый бренд инструмента ATORCH</span>
  </span>
</a>
    
<a class="news-block__item" href="/news/nikogda-eshche-ne-bylo-tak-prosto-propilit-pryamuyu-liniyu/">
  <span class="news-block__item-block">
    <span class="news-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/55a/55a7fdaad86638b5f6a20e50813eb172.jpg');"></span>
  </span>
  <span class="news-block__item-block">
                <span class="news-block__item-date">5 Июня 2016</span>
              <span class="news-block__item-text">Никогда еще не было так просто пропилить прямую линию</span>
  </span>
</a>
</div>
<a class="news-block__all-news bottom" href="/news/">Все новости</a>
</div>																			
<div class="reviews-block">
<div class="reviews-block__title">Обзоры и советы</div>
<a class="reviews-block__all-reviews top" href="/reviews/">Все обзоры и советы</a>
<div class="reviews-block__items"> 
    <a class="reviews-block__item" href="/reviews/sovety-po-remontu-i-stroitelstvu/kak-ne-prevratit-remont-doma-v-koshmar/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/0e5/0e53a8927e8334298cf4a5d8f8b6f4c2.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Как не превратить ремонт дома в кошмар?</span>
  </span>
</a>
    <a class="reviews-block__item" href="/reviews/sovety-po-remontu-i-stroitelstvu/pravilnoe-uteplenie-kryshi-v-derevyannom-dome/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/889/88996c26c9ea19e0ede3e30ba0c6d7ec.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Правильное утепление крыши в деревянном доме</span>
  </span>
</a>
    <a class="reviews-block__item" href="/reviews/landshaftnyy-dizayn/tendentsii-v-landshaftnom-dizayne-2016/">
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-image" style="background-image:url('http://elektrosila.altop.ru/upload/iblock/4d3/4d35b45e12c31f33bde82259ae197232.jpg');"></span>
  </span>
  <span class="reviews-block__item-block">
    <span class="reviews-block__item-text">Тенденции в ландшафтном дизайне 2016</span>
  </span>
</a>
</div>
<a class="reviews-block__all-reviews bottom" href="/reviews/">Все обзоры и советы</a>
</div>											</div>
    
<div class="subscribe_bottom">
<div class="text">
<div class="h3">Будьте в курсе!</div>
<p>Новости, обзоры и акции</p>
</div>
<form action="/personal/mailings/">
    <input type="hidden" name="sf_RUB_ID[]" value="1">
  <input type="text" name="sf_EMAIL" maxlength="50" value="Email" onfocus="this.value=''" onblur="if (this.value==''){this.value='Email'}" class="text">
<button type="submit" name="submit" class="btn_buy ppp" value="Подписаться">Подписаться</button>
</form>
</div>					
  </div>
</div>








{#

<div id="common-home" class="container">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif
    column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {%
    set class = 'col-sm-12' %} {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}{{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>

#}
{{ footer }}
